.guidebox{
  height: 50px;
  width: 750px;
}
.contentguide{
  z-index: 2;
  width: 750px;
  height: 50px;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
}

.contentguide ul{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contentguide li:hover{
  background-color: rgb(196, 196, 196,0.2);
  border-radius: 5px;
}