.mainbody{
  display: flex;
  /*background-color: grey;*/
  padding-top: 20px;
  margin-bottom: 100px;
  position: relative;
}

.clearfix::before,
.clearfix::after
{
  content: "";
  display: table;
}
.clearfix::after
{
  clear:both;
}