.sidebar
{
  display: none;
  margin-right: 250px;
  width: 400px;
  height: 600px;
}

/* 轮播图部分 */
.sidebar .carousel{
  width: 360px;
  height: 200px;
  position: relative;
  margin-top: 10px;
  margin-left: 15px;
  border-radius: 20px;
  box-shadow: 1px 5px 8px 1px rgb(0, 0, 0,0.3);
}

.sidebar .carousel .box-img{
  position: absolute;
  top: 0;
  left: 0;
}
.sidebar .carousel .box-img img{
  border-radius: 20px;
  border: 1px solid white;
}

.sidebar .carousel .left{
  border-radius: 0 5px 0 5px;
  top: 85px;
  font-size: 20px;
  position: absolute;
  width: 15px;
  height: 30px;
  background-color: rgba(255, 255, 255,0.1);
  transition: all 0.5s;
}
.sidebar .carousel .left:hover
{
  background-color: rgba(255, 255, 255,0.6);
  cursor: pointer;
}

.sidebar .carousel .right{
  border-radius: 0 5px 0 5px;
  right: 0;
  top: 85px;
  font-size: 20px;
  position: absolute;
  width: 15px;
  height: 30px;
  background-color: rgba(255, 255, 255,0.1);
  transition: all,0.3s;
}
.sidebar .carousel .right:hover
{
  background-color: rgba(255, 255, 255,0.6);
  cursor: pointer;
}

.sidebar .carousel .change{
  position: absolute;
  bottom: 5%;
  left: 45%;
}
.sidebar .carousel .change ul{
  width: 60px;
  display: flex;
  justify-content: space-between;
}
.sidebar .carousel .change li{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255,0.5);
  float: left;
  transition: all,0.3s;
}
.sidebar .carousel .change li:hover{
  cursor: pointer;
}
.sidebar .carousel .change .active{
  background-color: white;
}

/* 功能 */
.sidebar .function{
  display: flex;
  margin-top: 30px;
  padding-left: 50px;
}
/* 黑夜模式部分 */
.sidebar .dark{
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  width: 100px;
  border-radius: 15px;
  box-shadow: 2px 5px 10px 1px rgba(0, 0, 0,0.3);
}
.sidebar .dark .describe{
margin-right: 10px;
}
.sidebar .dark .switch{
  border:2px solid grey;
  border-radius: 20px;
  width: 50px;
  height: 20px;
  position: relative;
  transition: all 1s;
}
.sidebar .dark .switch .white{
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}
.sidebar .dark .switch .white:hover{
  cursor: pointer;
}
.sidebar .dark .switch .black{
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
}
.sidebar .dark .switch .black:hover{
  cursor: pointer;
}
/* 返回部分 */
.sidebar .guidance{
  margin-left: 100px;
  display: flex;
  border: 1px solid blanchedalmond;
  border-radius: 15px;
  box-shadow: 2px 5px 10px 1px rgba(0, 0, 0,0.3) ;
}
.sidebar .guidance .tip{
  width: 35px;
  height: 35px;
}
.sidebar .guidance .button:hover{
  cursor: pointer;
}
/* 倒计时 */
.sidebar .timeout ul{
  margin-top: 30px;
  margin-left: 15px;
  width: 360px;
  height: 70px;
  display: flex;
}
.sidebar .timeout li{
  background-color: rgb(228, 228, 228);
  font-size: 50px;
  color: black;
  margin-left: 25px;
  border-radius: 15px;
}